@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script&family=Orelega+One&family=Radio+Canada:wght@300&family=Tapestry&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Oleo Script", cursive;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;  
    overflow: hidden;
}
.titulo{
    color: #634D37;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

@import"./Elementos/cabecera";
@import "./Elementos/bienvenidos";


/* Donde estamos*/

.Dirección{
    background: #FFFCE0;
    padding-bottom: 30px;
    text-align: center;
}
/*Galeria*/
.portafolio{
    background-color: #FFFCE0;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}
.imagen-port >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(41, 76%, 60%, 0.7); 
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
}
.hover-galeria img{
    width: 150px;
}
.hover-galeria p{
    color: #fff;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Nuestros Servicios*/

.servicios{
    background: #FFFCE0;
    padding-bottom: 30px;
}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 50%;
    text-align: center;
}
.servicio-ind img{
    width: 100px;
    height: 100px;
    border: 2px solid #634D37;
    border-radius: 25%;
    display: block;
    margin: auto;
}
.servicio-ind h3{
    margin: 10px 0;
}


/* clientes*/
.cards{
    display: flex;
    justify-content: center;
}
.cards .card{
    background-color: #FFFCE0;
    display: flex;
    width: 70%;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    box-shadow: 0 0 6px o rgba(41, 76%, 60%, 0.7)
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #634D37;
    border-radius: 50%;
    display: block;
}.cards .card > .contenido-textos-card{
    width: 60%;
    color: #634D37;
}
.cards .card > .contenido-textos-card p{
    font-weight: 300;
    padding-top: 5px;
    text-align: center;
}

/*footer*/
footer{
    background: #FFFCE0;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom:  1px solid #FFFCE0;
}