.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-sobre-nosotros{
    width: 80%;
    border-radius: 20%;
}
.sobre-nosotros .contenido-textos{
    width: 48%;
    padding: 5 0 30px 15px;
    font-weight: 300;
    text-align:center; 
    & h3{
        margin-bottom: 15px;
        & span{
            background:#634D37;
            color: #fff;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            width: 30px;
            height: 30px;
            padding: 2px;
            box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
            margin-right: 10px;
        }
    } 
        
}
