header{
    width: 100%;
    height:690px;
    background: #FFFCE0;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(44, 100%, 49%, 0.774), hsla(43, 92%, 86%, 0.863)),url(../imagenes/Logo.png); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(44, 100%, 49%, 0.774), hsla(43, 92%, 86%, 0.863)),url(../imagenes/Logo.png); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
    & div> a{
        color:#634D37 ;
        font-weight: 300;
        text-decoration: none;
        margin-right: 10px;
     }
}
.nav div> a:hover{
    text-decoration:solid;
}

.nav_leabel, .nav_imput{
      display:none;
    }
      
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    & h1{
        font-size: 70px;
        color: #ffff;
    }
    & h2{
        font-size: 50px;
        font-weight: 300;
        color: #ffff;
    }    
}   