.servicios{
    background: map-get($colores, $key:"fondo" );
    padding-bottom: 30px;
}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 50%;
    text-align: center;
}
.servicio-ind img{
    width: 100px;
    height: 100px;
    border: 2px solid #634D37;
    border-radius: 25%;
    display: block;
    margin: auto;
}
.servicio-ind h3{
    margin: 10px 0;
}
